affine
alabaster
arrow
asgiref
astroid
atomicwrites
attrs
autopep8
Babel
backcall
binaryornot
black
bleach
branca
cached-property
#Cartopy
Cartopy
#cdifflib
certifi
#cffi
cffi
cftime
chardet
click
click-plugins
cligj
cloudpickle
contextily
cookiecutter
cycler
Cython
debugpy
decorator
defusedxml
diff-match-patch
Django
django-crispy-forms
docutils
entrypoints
et-xmlfile
#Fiona
Fiona
flake8
Flask
folium
geographiclib
geojson
geojsoncontour
geonames
geopandas
geoplot
geopy
geos
gunicorn
idna
imagesize
importlib-metadata
inflection
intervaltree
ipykernel
ipython
ipython-genutils
isodate
isort
itsdangerous
jedi
jeepney
Jinja2
jinja2-time
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
keyring
kiwisolver
lazy-object-proxy
lxml
mapclassify
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mercantile
mistune
munch
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
#netCDF4
netCDF4
networkx
numpy
numpydoc
openpyxl
packaging
#pandas
pandas
pandocfilters
parso
pathspec
pexpect
pgeocode
pickleshare
Pillow
platformdirs
pluggy
poyo
proj
prompt-toolkit
psutil
psycopg2-binary
ptyprocess
pycep-correios
pycodestyle
pycparser
pydocstyle
pyflakes
Pygments
pylint
pyls-spyder
pyparsing
#pyproj
pyproj
#PyQt5
PyQt5
#PyQt5-sip
PyQt5-sip
#PyQtWebEngine
PyQtWebEngine
Pyrebase
pyrsistent
pyshp
python-dateutil
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytz
pyxdg
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
#rasterio
rasterio
regex
requests
requests-file
requests-toolbelt
rope
Rtree
#scikit-learn
scikit-learn
scipy
seaborn
SecretStorage
#Shapely
Shapely
six
snowballstemmer
snuggs
sortedcontainers
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
#spyder
#spyder-kernels
spyder
spyder-kernels
sqlparse
testpath
text-unidecode
textdistance
threadpoolctl
three-merge
timezonefinder
tinycss2
toml
tomli
tornado
traitlets
typing-extensions
tzwhere
ujson
unicodecsv
urllib3
watchdog
wcwidth
webcolors
webencodings
Werkzeug
wrapt
wurlitzer
xarray
xlrd
xyzservices
yapf
zeep
zipp
